#box-1,#box-2,#box-3{
   box-sizing: border-box;
    color: white;
    width:100%;
    height:300px;
    margin:15px 15px auto;
    
    border: 1px solid black;
}

@media(min-width:992px){
    .navbar-toggler{
        display:none;
    }
}

@media(min-width:762px){
    .navbar-toggler{
        display:none;
    }
}

    